*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
AGENTS.md
Manifest.toml
Manifest-v1.11.toml
Manifest-v1.12.toml
benchmark/*.json
coverage
docs/build/
env
node_modules
.idea/
.vscode/settings.json
.JETLSConfig.toml
